html, body, h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif
}

body, html {
    height: 100%;
}

.topNavBar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navBar {
    background-color: black;
    color: white;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0, 0.16);
}


footer {
    position: relative;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: #cccccc;
    padding: 10px;
}

    footer a {
        padding: 10px;
    }

        footer a:hover {
            background-color: #b3b3b3;
            color: blue;
        }



/*-----Index Page-----*/





/*-----Resume page-----*/
@media (min-width:993px) {
    .hide-large {
        display: none !important;
    }
}

@media (max-width:992px) and (min-width:681px) {
    .hide-medium {
        display: none !important;
    }
}

@media (max-width:680px) {
    .hide-small {
        display: none !important;
    }
}

.resume-links {
    text-decoration: none;
}

    .resume-links:hover {
        color: blue;
    }

.resume-items {
    font-weight: bold;
    opacity: 0.60;
    font-size: 1.25em;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
}

.company-items {
    display: inline-block;
    font-size: 1.1em;
    margin-top: 0.4em;
}

.resume-containerPadding {
    padding: 0.01em 16px;
    background-color: white;
}

.resume-boxShadow {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.rightColumns {
    float: left;
    width: 66.66666%;
    padding: 0 8px;
}

@media (max-width:600px) {
    .rightColumns {
        width: 100%;
    }
}

.blueText {
    color: #3399ff;
}

.blueBackground {
    background-color: #3399ff;
    color: #fff
}

.padding-large {
    padding: 12px 24px !important
}

        .skillBar {
            height: 18px;
            -webkit-animation-duration:3s; /* Safari 4.0 - 8.0 */
            animation-duration: 3s;
        }

        @keyframes bar95{
            from {
                width: 0%;
            }

            to {
                width: 95%;
            }
        }

        #softDevBar {
            width:95%;
            -webkit-animation-name: bar95; /* Safari 4.0 - 8.0 */
            animation-name: bar95;

        }

        @keyframes bar85 {
            from {
                width: 0%;
            }

            to {
                width: 85%;
            }
        }

        #infoTecBar {
            width:85%;
            -webkit-animation-name: bar85; /* Safari 4.0 - 8.0 */
            animation-name: bar85;

        }

        @keyframes bar75 {
            from {
                width: 0%;
            }

            to {
                width: 75%;
            }
        }

        #webDevBar {
            width:75%;
            -webkit-animation-name: bar75; /* Safari 4.0 - 8.0 */
            animation-name: bar75;

        }